Repository THE-T-DEPth/spill-the-tea-web, pull requests merged in 2025-01, with the labels that each got.

#28 회원가입페이지 수정
  src/Router.tsx
  src/components/layout/Layout.tsx
  src/components/signup/Modal.tsx
  src/components/signup/SignupInputBox.tsx
  src/index.css
  src/pages/LoginPage.tsx
  src/pages/SignupDonePage.tsx
  src/pages/SignupEmailPage.tsx
  src/pages/SignupPage.tsx
  src/styles/Login/LoginInputStyle.ts
  src/styles/Login/LoginPageStyle.ts
  src/styles/Signup/ModalStyle.ts
  src/styles/Signup/SignupDonePageStyle.ts
  src/styles/Signup/SignupEmailPageStyle.ts
  src/styles/Signup/SignupInputBoxStyle.ts
  src/styles/Signup/SignupPageStyle.ts
Labels: 🎨Html&css, ✨Feature

#14 [Feat] HomePage UI 구현
  npm
  src/Router.tsx
  src/assets/Icons/DisableClock.svg
  src/assets/Icons/DisableComment.svg
  src/assets/Icons/DisableLike.svg
  src/assets/Icons/Leaf.svg
  src/assets/Icons/VectorLeft.svg
  src/assets/Icons/VectorRight.svg
  src/assets/data/BoxData.ts
  src/components/Home/MainInputBox.tsx
  src/components/Home/MakeTeaButton.tsx
  src/components/Home/TopBar.tsx
  src/components/searchResult/Box.tsx
  src/index.css
  src/pages/HomePage.tsx
  src/styles/Home/HomPageComponentStyle.ts
  src/styles/Home/MainInputBoxStyle.ts
  src/styles/Home/MakeTeaButtonStyle.ts
  src/styles/Home/TopBarStyle.ts
  src/styles/Login/LoginInputStyle.ts
  src/styles/Login/LoginPageStyle.ts
  src/styles/searchResult/BoxStyle.ts
Labels: 🎨Html&css, ✨Feature

#52 [Feat] 회원가입페이지 api 연동
  src/api/index.ts
  src/api/signUp/signUpEmail.ts
  src/api/signUp/signUpPage.ts
  src/pages/SignupEmailPage.tsx
  src/pages/SignupPage.tsx
  src/styles/Signup/SignupPageStyle.ts
  vite.config.ts
Labels: 🤖API

#46 [feat/#39] write page api 연동 및 edit 페이지 api 연동
  .env
  src/Router.tsx
  src/api/viewDetailSsul/viewDetailContent.ts
  src/api/write/search.ts
  src/api/write/tts.ts
  src/api/write/writePost.ts
  src/assets/Images/Playing.svg
  src/components/layout/Layout.tsx
  src/components/layout/YellowNav.tsx
  src/components/viewDetailSsul/centent/DetailSsulContent.tsx
  src/components/viewDetailSsul/modal/EditModal.tsx
  src/components/viewDetailSsul/modal/RemoveModal.tsx
  src/components/viewDetailSsul/review/DetailSsulReview.tsx
  src/components/viewDetailSsul/review/ReReview.tsx
  src/components/write/modal/PostModal.tsx
  src/components/write/selectAnother/BottomBtn.tsx
  src/components/write/selectAnother/SelectAnother.tsx
  src/components/write/selectAnother/SelectVoice.tsx
  src/components/write/textWrite/QuillInput.tsx
  src/pages/WritePage.tsx
  src/styles/Write/CommunityGuideComponentStyle.ts
  src/styles/Write/QuillInputComponentStyle.ts
  src/styles/Write/SelectAnotherComponentStyle.ts
  vite.config.ts
Labels: 🎨Html&css, 🤖API

#57 [Feat] 비밀번호 찾기 페이지 api 연동
  src/api/login/certificationNum.ts
  src/api/login/changePass.ts
  src/api/login/findPass.ts
  src/api/login/loginPage.ts
  src/pages/CertificationNumPage.tsx
  src/pages/ChangePassPage.tsx
  src/pages/FindPassPage.tsx
  src/pages/LoginPage.tsx
  src/pages/SignupEmailPage.tsx
  src/pages/SignupPage.tsx
  src/pages/TemporaryPassPage.tsx
Labels: 🎨Html&css, 🤖API

#58 [Feat] mypage api 연동
  src/api/index.ts
  src/api/myPage/ deleteProfile.ts
  src/api/myPage/ deleteProfileImage.ts
  src/api/myPage/changeProfileImage.ts
  src/api/myPage/editProfile.ts
  src/api/myPage/getMyPosts.ts
  src/api/myPage/getProfile.ts
  src/api/myPage/logout.ts
  src/components/likedssuls/SortButton.tsx
  src/components/myPage/EditProfile.tsx
  src/components/myPage/LeaveService.tsx
  src/components/myPage/MyPosts.tsx
  src/components/searchResult/Box.tsx
  src/components/searchResult/Pagination.tsx
  vite.config.ts
Labels: 🤖API

#65 [Feat] 마이페이지 api 연동 수정
  src/api/index.ts
  src/api/myPage/getMyPosts.ts
  src/components/myPage/EditProfile.tsx
  src/components/myPage/MyPosts.tsx
Labels: 🤖API

#67 [Feat] 메인 홈 페이지 api 연동
  package-lock.json
  package.json
  src/api/home/box.ts
  src/api/index.ts
  src/components/Home/Box.tsx
  src/components/Home/MakeTeaButton.tsx
  src/pages/HomePage.tsx
  src/pages/LoginPage.tsx
  src/styles/Home/BoxStyle.ts
  src/styles/Home/TopBarStyle.ts
Labels: 🤖API

#69 [Feat] 공감한 썰 페이지 api 연동
  src/api/index.ts
  src/api/likedSsuls/getMyLIkedPosts.ts
  src/components/myPage/EditProfile.tsx
  src/pages/LikedSsulPage.tsx
Labels: 🤖API

#71 [Feat] 썰 페이지 api 연동
  src/api/index.ts
  src/api/ssulPage/getSearchKeyword.ts
  src/components/ssulPage/CategoryBar.tsx
  src/components/ssulPage/KeywordModal.tsx
  src/pages/SsulPage.tsx
Labels: 🤖API

#66 [Feat/#40] 썰 열람페이지 api 연동
  src/api/index.ts
  src/api/viewDetailSsul/viewDetailComment.ts
  src/api/viewDetailSsul/viewDetailContent.ts
  src/api/viewDetailSsul/viewDetailKeyword.ts
  src/api/write/search.ts
  src/api/write/writePost.ts
  src/assets/Images/Fire.png
  src/assets/Images/Fire.svg
  src/assets/dummy/CommentSSulDummy.ts
  src/assets/dummy/DetailSSulDummy.ts
  src/assets/dummy/JJalDummy.ts
  src/components/Home/MakeTeaButton.tsx
  src/components/Home/TopBar.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/NavBar.tsx
  src/components/layout/YellowNav.tsx
  src/components/myPage/EditProfile.tsx
  src/components/viewDetailSsul/centent/DetailSsulContent.tsx
  src/components/viewDetailSsul/modal/AlreadyComplainModal.tsx
  src/components/viewDetailSsul/modal/BlockUserModal.tsx
  src/components/viewDetailSsul/modal/ComplainModal.tsx
  src/components/viewDetailSsul/modal/ReportPostModal.tsx
  src/components/viewDetailSsul/review/DetailSsulReview.tsx
  src/components/viewDetailSsul/review/ReReview.tsx
  src/components/viewDetailSsul/review/Review.tsx
  src/components/write/modal/PostModal.tsx
  src/components/write/selectAnother/SelectAnother.tsx
  src/pages/ViewDetailSsulPage.tsx
  src/pages/WritePage.tsx
  src/styles/Home/TopBarStyle.ts
  src/styles/ViewDetailSsul/DetailSsulContentComponentStyle.ts
  src/styles/ViewDetailSsul/modal/AlreadyComplainModalComponentStyle.ts
Labels: ✨Feature, 🐞BugFix

#74 [fix] 사용하지 않는 코드 제거
  src/api/viewDetailSsul/viewDetailKeyword.ts
  src/components/viewDetailSsul/centent/DetailSsulContent.tsx
  src/pages/HomePage.tsx
Labels: 🐞BugFix

#76 [Fix/#75] writepage 이미지 교체
  src/assets/Images/ArrowDown.png
  src/assets/Images/ArrowUp.png
  src/assets/Images/Bold.png
  src/assets/Images/Color.png
  src/assets/Images/Italic.png
  src/assets/Images/Strike.png
  src/assets/Images/UnderLine.png
  src/styles/Write/QuillInputComponentStyle.ts
Labels: 🐞BugFix

#81 [Fix/#78] 썰 작성페이지, 썰 열람페이지 1차 qa 수정
  src/api/viewDetailSsul/viewDetailComment.ts
  src/api/write/novelization.ts
  src/api/write/tts.ts
  src/api/write/writePost.ts
  src/assets/Images/Check.png
  src/assets/Images/NonCheck.png
  src/assets/Images/SelectedBold.png
  src/assets/Images/SelectedItalic.png
  src/assets/Images/SelectedStrike.png
  src/assets/Images/SelectedUnderline.png
  src/components/viewDetailSsul/centent/DetailSsulContent.tsx
  src/components/viewDetailSsul/modal/FailEnterReviewModal.tsx
  src/components/viewDetailSsul/modal/ReportPostModal.tsx
  src/components/viewDetailSsul/review/DetailSsulReview.tsx
  src/components/viewDetailSsul/review/ReReview.tsx
  src/components/viewDetailSsul/review/Review.tsx
  src/components/write/modal/PostModal.tsx
  src/components/write/selectAnother/SelectAnother.tsx
  src/components/write/selectAnother/SelectVoice.tsx
  src/index.css
  src/pages/ViewDetailSsulPage.tsx
  src/pages/WritePage.tsx
  src/styles/ViewDetailSsul/DetailSsulContentComponentStyle.ts
  src/styles/ViewDetailSsul/DetailSsulReviewComponentStyle.ts
  src/styles/ViewDetailSsul/modal/CheckboxComponentStyle.ts
  src/styles/Write/QuillInputComponentStyle.ts
Labels: 🐞BugFix
